@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap");

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FEFEFE;
}

nav {
  width: 100%;
  height: 64px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
}

.nav-links {
  display: flex;
}

.logo {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 42px;
  max-height: 42px;
}

.logo img {
  vertical-align: middle;
}

.nav-links {
  list-style: none;
  gap: 20px;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.nav-item a:hover {
  color: #0049C9;
}

.intro-text {
  position: relative;
  top: 7vh;
  text-align: center;
}

.intro-text p {
  margin: 0;
}

.intro-text :nth-child(2) {
  margin-bottom: 90px;
}

.unchanging-text {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  font-size: 4vw;
}

.unchanging-text-reg {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  font-size: 4vw;
}

/* Add other CSS properties as required */
.blue-text {
  color: #0049C9;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  font-size: 4vw;
}

.lightblue-text {
  color: #0A84FF;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  font-size: 4vw;
}

.lightorange-text {
  color: #FFBD7A;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  font-size: 4vw;
}

.orange-text {
  color: #FF850A;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  font-size: 4vw;
}

.button-container {
  text-align: center;
}

.btn {
  background-color: #FEFEFE; /* The button color */
  color: #0049C9; /* The text color */
  padding: 10px 20px; /* The padding around the text */
  border-color: #0049C9; /* Removes the default border */
  border-radius: 40px; /* Optional: for rounded corners */
  font-size: 1.2em; /* The size of the text */
  cursor: pointer; /* Changes cursor on hover */
  margin: 0 10px; /* Space between buttons */
  font-family: 'Source Sans 3', sans-serif;
  transition: background-color 0.3s ease; /* Optional: for smooth color transition */
}

.btn:hover {
  background-color: #0049C9; /* The button color on hover */
  color: #FEFEFE;
}

.portfolio-img {
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landscape, .portrait-container {
  width: 100%;
  max-width: 1275px; /* or whatever maximum width you prefer */
  margin-left: auto;
  margin-right: auto;
}

.landscape {
  box-shadow: 0 10px 20px -4px rgba(0,0,0,.6);
  display: block;
  margin-bottom: 20px;
}

.portrait-container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1275px;
  margin-left: auto;
  margin-right: auto;
}
.portrait-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}


.portrait {
  width: 100%;
  aspect-ratio: 2 / 3;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px -4px rgba(0,0,0,.6);
  object-fit: cover;
}

.image-description {
  color: #a3a8ae;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes sure your content takes up the viewport's full height */
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .intro-text {
    top: 10vh;
  }

  .unchanging-text,
  .unchanging-text-reg,
  .blue-text,
  .lightblue-text,
  .lightorange-text,
  .orange-text {
    font-size: 8vw;
  }
  
  .portfolio-img img {
    max-width: 100%;
  }
  
  .portrait-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .portrait-item {
    width: 48%; /* Adjusting for a 2-column grid layout */
  }
}

